<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gulupoetry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_poetry_white"
        android:label="咕噜诗词"
        android:roundIcon="@drawable/logo_poetry_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.gulupoetry.ModifyActivity" />
        <activity android:name="com.example.gulupoetry.VerificationActivity" />
        <activity android:name="com.example.gulupoetry.AncientActivity" />
        <activity android:name="com.example.gulupoetry.DataActivity" />
        <activity android:name="com.example.gulupoetry.AboutUsActivity" />
        <activity android:name="com.example.gulupoetry.UserMessageManageActivity" />
        <activity android:name="com.example.gulupoetry.OtherUserActivity" />
        <activity android:name="com.example.gulupoetry.CommentActivityList" />
        <activity android:name="com.example.gulupoetry.PoetryCollectionActivity" />
        <activity android:name="com.example.gulupoetry.RegisterActivity" />
        <activity android:name="com.example.gulupoetry.LoginActivity" />
        <activity android:name="com.example.gulupoetry.SearchActivity" />
        <activity android:name="com.example.gulupoetry.PoetryListActivity" />
        <activity android:name="com.example.gulupoetry.ScreenActivity" />
        <activity android:name="com.example.gulupoetry.PoetryDetailsActivity" />
        <activity
            android:name="com.example.gulupoetry.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.gulupoetry.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>